---
 const personalImageAlt = "Sebastian Benitez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
 <p>
  Me llamo Sebastian Benitez, pero mis amigos me llaman Seba. Empecé en la
  programación durante la pandemia de 2020 y desde entonces me he dedicado a 
  perfeccionar mis habilidades en desarrollo web.
</p>

<p>
  He trabajado en proyectos freelance y fui el encargado de desarrollar el 
  e-commerce <strong>QuieroYA Uy</strong>, además de ser el fundador de 
  <strong>EntreFronteras RP</strong>, una comunidad con más de 3,000 usuarios 
  en Discord, donde he aprendido mucho sobre gestión de comunidades, desarrollo y tecnología.
</p>

<p>
  También he desarrollado proyectos personales como <strong>QuadFinder</strong>, 
  una aplicación web orientada a la exploración y comparación de cuatriciclos, 
  donde combino tecnología con mis intereses y aplico buenas prácticas de desarrollo, 
  rendimiento y experiencia de usuario.
</p>

<p>
  Actualmente, estoy estudiando informática en UTU y comencé la carrera de Analista en 
  Tecnologías de la Información en la <strong>Universidad ORT Uruguay</strong>, 
  con el objetivo de seguir ampliando mis conocimientos y crecer profesionalmente en el área IT.
</p>
  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

