---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
  date: "Actualidad",
  title: "Desarrollador Web Freelance & Estudiante de IT",
  company: "Freelance & Universidad ORT Uruguay",
  description:
    "Desarrollador web freelance, enfocado en la creación de aplicaciones modernas, responsivas y optimizadas para rendimiento y experiencia de usuario. Actualmente curso la carrera de Analista en Tecnologías de la Información en la Universidad ORT Uruguay, donde continúo fortaleciendo mis conocimientos en desarrollo fullstack, lógica de programación y bases de datos, utilizando tecnologías como HTML, CSS, JavaScript, React, Next.js y MySQL.",
},
  {
  date: "2025",
  title: "Desarrollador Web - Landing Page",
  company: "Media Encoder Agency",
  description:
  "Desarrollé una landing page moderna para Media Encoder Agency enfocada en conversión, rendimiento y experiencia de usuario. Implementé diseño responsive, optimización SEO y performance (Lighthouse), utilizando Next.js y Tailwind, con despliegue en Vercel.",  link: "https://mediaencoderagency.com/",
},
  {
    date: "Agosto 2023 - Marzo 2025",
    title: "Founder & Developer",
    company: "EntreFronterasRP",
    description:
      "Fundador y desarrollador de EntreFronterasRP, un servidor de Roleplay en español para GTA V. Creamos la plataforma desde cero, utilizando tecnologías como FiveM, Lua, HTML, CSS y JavaScript. Actualmente contamos con una comunidad de discord de mas de 3000 miembros.",
    link: "https://discord.gg/entrefronterasrp",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>