---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Freelancer & Estudiante de IT",
    company: "Freelance & UTU",
    description:
      "Desarrollador web freelance, creando aplicaciones responsivas y optimizadas. Estudiante de Informática en UTU, donde amplío mis conocimientos en desarrollo de software, lógica de programación y tecnologías como HTML, CSS, JavaScript, React y Next.js.",
   
  },
  {
  date: "2025",
  title: "Desarrollador Web - Landing Page",
  company: "Media Encoder Agency",
  description:
  "Desarrollé una landing page moderna para Media Encoder Agency enfocada en conversión, rendimiento y experiencia de usuario. Implementé diseño responsive, optimización SEO y performance (Lighthouse), utilizando Next.js y Tailwind, con despliegue en Vercel.",  link: "https://mediaencoderagency.com/",
},
  {
    date: "Agosto 2023 - Marzo 2025",
    title: "Founder & Developer",
    company: "EntreFronterasRP",
    description:
      "Fundador y desarrollador de EntreFronterasRP, un servidor de Roleplay en español para GTA V. Creamos la plataforma desde cero, utilizando tecnologías como FiveM, Lua, HTML, CSS y JavaScript. Actualmente contamos con una comunidad de discord de mas de 3000 miembros.",
    link: "https://discord.gg/entrefronterasrp",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>